@{ LayoutPage = "~/Views/Shared/_Master.cshtml"; }
@section title {
    Change Password
}
<h2>Change Password</h2>
<p>
    Use the form below to change your password.
</p>
<p>
    New passwords are required to be a minimum of @ViewData["PasswordLength"] characters in length.
</p>
<form method="post">
    @Html.ValidationSummary(true, "Password change was unsuccessful. Please correct the errors and try again.")
    <div>
        <fieldset>
            <legend>Account Information</legend>
            <div class="editor-label">
                @Html.Label("OldPassword")
            </div>
            <div class="editor-field">
                @Html.Password("OldPassword")
                @Html.ValidationMessage("OldPassword")
            </div>
            <div class="editor-label">
                @Html.Label("NewPassword")
            </div>
            <div class="editor-field">
                @Html.Password("NewPassword")
                @Html.ValidationMessage("NewPassword")
            </div>
            <div class="editor-label">
                @Html.Label("ConfirmPassword")
            </div>
            <div class="editor-field">
                @Html.Password("ConfirmPassword")
                @Html.ValidationMessage("ConfirmPassword")
            </div>
            <p>
                <input type="submit" value="Change Password" />
            </p>
        </fieldset>
    </div>
</form>