@{
    ViewBag.Title = "About Us";
}

<h2>About</h2>
<h2>@ViewBag.Message</h2>
<h3>@ViewBag.fooMessage</h3>
<h3>@ViewBag.executingMessage</h3>
<h3>@ViewBag.homeMessage</h3>
<h3>@ViewBag.homeActionMessage</h3>
<p>
     Put content here.
</p>
