@{
    View.Title = "Home Page";
}

<h2>@View.Message</h2>
<h3>@View.fooMessage</h3>
<h3>@View.executingMessage</h3>
<h3>@View.homeMessage</h3>
<h3>@View.homeActionMessage</h3>

<p>
    To learn more about ASP.NET MVC visit <a href="http://asp.net/mvc" title="ASP.NET MVC Website">http://asp.net/mvc</a>.
</p>

