<!DOCTYPE html>
<head>
    <title>
        @RenderSection("title")
    </title>
    <link href="@Href("~/Content/Site.css")" rel="stylesheet" type="text/css"/>
</head>
<body>
    <div class="page">
        <div id="header">
            <div id="title">
                <h1>My ASP.NET MVC Razor Application</h1>
            </div>
            <div id="logindisplay">
                @RenderPage("~/Views/Shared/_LogOnUserControl.cshtml")
            </div> 
            <div id="menucontainer">
                <ul id="menu">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                </ul>
            </div>
        </div>
        <div id="main">
            @RenderBody()
            <div id="footer"></div>
        </div>
    </div>
</body>
</html>